apiVersion: v1
kind: Service
metadata:
  name: lobboss
  namespace: lobmob
  labels:
    app.kubernetes.io/name: lobboss
    app.kubernetes.io/part-of: lobmob
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: lobboss
  ports:
    - port: 8080
      targetPort: http
      protocol: TCP
      name: http
